/* Scrolling Logos Animation */
.scrolling-logos-container {
  --speed: 40s;
  --pause-on-hover: true;
  --pause-on-hover-mobile: true;
  --poh: running;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  padding: 20px 0;
  direction: ltr; /* تعيين الاتجاه من اليسار إلى اليمين لعكس الحركة */
}

.scrolling-logos {
  display: flex;
  flex-wrap: nowrap;
  gap: 4px;
  animation: scroll var(--speed) linear infinite;
  animation-play-state: var(--poh);
  animation-direction: reverse; /* تغيير الاتجاه إلى العكس */
  width: max-content;
}

.scrolling-logos-container:hover .scrolling-logos {
  animation-play-state: paused;
}

.logo-item {
  flex: 0 0 auto;
  width: 183px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  position: relative;
}

.logo-item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0) 70%);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.logo-item:hover::after {
  opacity: 1;
}

.logo-item img {
  max-width: unset;
  max-height: unset;
  filter: brightness(0) invert(1);
  opacity: 0.7;
  transition: all 0.3s ease;
}

/* تنسيقات الشعارات في الوضع الفاتح */
[data-theme="light"] .logo-item img {
  filter: brightness(0.5);
  opacity: 0.7;
}

.logo-item:hover img {
  opacity: 1;
  transform: scale(1.1);
}

[data-theme="light"] .logo-item:hover img {
  opacity: 1;
  filter: brightness(0.3);
  transform: scale(1.1);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Responsive */
@media (max-width: 768px) {
  .scrolling-logos {
    gap: 4px;
  }

  .logo-item {
    width: 190px;
    height: 60px;
  }
}
@media (max-width: 767px) {
    .logo-item img {
        max-width: 12rem;
        max-height: 15rem;
    }
}
